 <h1>Bienvenido!</h1>
  <p>Ingresa tu  'url'</p>

  <form action="/urls" method="post" >
      <input type="text" placeholder="url" name="long_url">
      <input type="submit" value="Go!">
  </form>
  <!-- si existe la @url (si no cumple con las validaciones) -->
  <% if @url %>
  <!-- y si la url tiene algun error y no cumple con las validaciones
podemos utilizar el método any?-->
    <% if @url.errors.any? %>
  <!-- si tiene algún error entonces se muestra el mensage, el cual es un arreglo
  pero iteramos sobre el para mostrar unicamente el mensage de texto
  el error es un hash y debemos acceder a su value que en este caso es :long_url y posteriormente a su elemento [0] que es el string con el mensage
  -->
      <%= @url.errors.messages[:long_url][0]%>

    <% end %>
  <% end %>
 

<br>
<br>
<br>
<fieldset class= "field_set">
  <legend>prueba cualquier sitio de la lista:</legend>
  <br>
  <% sorted_list = @urls.sort_by &:id %>
  <% sorted_list.each_with_index do |object, i| %>
    <a id="<%=object.id%>" href= "/<%=object.short_url%>" target='_blank'> <%=i+1%> <%=object.short_url%>   Visted (<%=object.click_count%>) times.</a>

    <br>
  <% end %>

    <br>
</fieldset>


  
